body {
    background: #eee;
}

a,a:visited,a:active,a:hover{
    color: #000;
    text-decoration: none;
}

.bookContainer {
    outline: 1px solid #aaa;
    width: 350px;
    height: 130px;
    background: #fff;
    float: left;
    margin: 5px;
    position: relative;
}

.bookContainer img{
    float: left;
    margin: 10px;
    width: 73px;
    height: 100px;
}

.bookContainer ul{
    list-style: none;
    margin-bottom: 0;
}

#addBook label{
    width: 100px;
    margin-right: 10px;
    text-align: right;
    line-height: 25px;
}

#addBook label,
#addBook input{
    display: block;
    margin-bottom: 10px;
    float: left;
}

#addBook label[for="title"],
#addBook label[for="releaseDate"]{
    clear: both;
}

#addBook button{
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}

#addBook div{
    width: 570px;
}

#addBook div:after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}

.delete{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
